nameOverride: ""
fullnameOverride: ""

imagePullSecrets: []
imagePullPolicy: IfNotPresent

global:
  image:
    registry: swr.cn-east-3.myhuaweicloud.com/chaitin-safeline
    tag: ""
    region: ""
  # initContainer 使用的基础镜像，离线/私有环境请修改为内部镜像地址
  busyboxImage: busybox:1.36
  # 时区设置，替代 hostPath /etc/localtime 挂载
  timezone: "Asia/Shanghai"
  # 全局开启已端口模式暴露服务，牵扯修改服务暴露模式服务为：detector与chaos，打开此选项将增加多个configmap加载以及修改配置文件，会修改nginx.conf文件。
  # 建议此向保持开启状态
  exposeServicesAsPorts:
    enabled: true
  # 设置雷池WAF控制台通过域名访问，如：demo.waf-ce.chaitin.cn
  ingress:
    # 是否开启雷池WAF控制通过域名访问，默认未开启
    enabled: false
    hostname: waf.local
    ingressClassName: nginx
    annotations:
      # 注释中的proxy-body-size的存储值，文件上传大小的最大值，即nginx.ingress.kubernetes.io/proxy-body-size的值，默认为200M
      proxyBodySize: 200M
    pathType: ImplementationSpecific
    path: /
    tls:
      # 是否加载HelmChart外部的HTTPS域名证书Secret,如果有请填写Secret名称，默认不填写及域名仅开启http访问.
      # 如填写如下项，请在运行该HelmChart前创建好对应的Secret。
      secretName: ""

strategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 0
    maxSurge: 1

persistence:
  enabled: true
  resourcePolicy: "keep"
  persistentVolumeClaim:
    database:
      existingClaim: ""
      storageClass: ""
      accessMode: ReadWriteOnce
      size: 1Gi
      annotations: {}

    detectorLogs:
      existingClaim: ""
      storageClass: ""
      accessMode: ReadWriteMany
      size: 1Gi
      annotations: {}

    tengineLogs:
      existingClaim: ""
      storageClass: ""
      accessMode: ReadWriteMany
      size: 1Gi
      annotations: {}

    nginx:
      existingClaim: ""
      storageClass: ""
      accessMode: ReadWriteMany
      size: 1Gi
      annotations: {}

    mgt:
      existingClaim: ""
      storageClass: ""
      accessMode: ReadWriteMany
      size: 1Gi
      annotations: {}

    detector:
      existingClaim: ""
      storageClass: ""
      accessMode: ReadWriteMany
      size: 1Gi
      annotations: {}

    tengine:
      existingClaim: ""
      storageClass: ""
      accessMode: ReadWriteMany
      size: 1Gi
      annotations: {}

    luigi:
      existingClaim: ""
      storageClass: ""
      accessMode: ReadWriteMany
      size: 1Gi
      annotations: {}
    
    chaos:
      existingClaim: ""
      storageClass: ""
      accessMode: ReadWriteMany
      size: 1Gi
      annotations: {}

database:
  type: internal
  internal:
    serviceAccountName: ""
    automountServiceAccountToken: false
    image:
      registry: ''
      repository: safeline-postgres
      tag: 15.2
    # IMPORTANT: 请务必修改此默认密码！生产环境禁止使用默认值
    password: changeit
    shmSizeLimit: 512Mi
    resources:
    #  requests:
    #    memory: 256Mi
    #    cpu: 100m
    livenessProbe:
      timeoutSeconds: 1
    readinessProbe:
      timeoutSeconds: 1
    nodeSelector: {}
    tolerations: []
    affinity: {}
    priorityClassName:
    initContainer:
      migrator: {}
      # resources:
      #  requests:
      #    memory: 128Mi
      #    cpu: 100m
      permissions: {}
      # resources:
      #  requests:
      #    memory: 128Mi
      #    cpu: 100m
  external:
    host: ""
    port: ""
    username: ""
    password: ""
    coreDatabase: "safeline-ce"
    dbname: "safeline-ce"
    existingSecret: ""
    sslmode: "disable"
  maxIdleConns: 100
  maxOpenConns: 900
  podAnnotations: {}

mgt:
  image:
    registry: ''
    repository: safeline-mgt
    tag: ""
  service:
    type: NodePort
    web:
      nodePort: 31443
  resources:
  #   limits:
  #     cpu: 1000m
  #     memory: 1000Mi
  #   requests:
  #     cpu: 100m
  #     memory: 100Mi
  podAnnotations: {}
  serviceAccountName: ""
  automountServiceAccountToken: false
  replicas: 1
  revisionHistoryLimit: 10
  nodeSelector: {}
  affinity: {}
  tolerations: []
  priorityClassName:

fvm:
  image:
    registry: ''
    repository: safeline-fvm
    tag: ""
  service:
    type: ClusterIP
  resources:
  #   limits:
  #     cpu: 1000m
  #     memory: 1000Mi
  #   requests:
  #     cpu: 100m
  #     memory: 100Mi
  podAnnotations: {}
  serviceAccountName: ""
  automountServiceAccountToken: false
  replicas: 1
  revisionHistoryLimit: 10
  nodeSelector: {}
  affinity: {}
  tolerations: []
  priorityClassName:

detector:
  image:
    registry: ''
    repository: safeline-detector
    tag: ""
  resources:
  #   limits:
  #     cpu: 1000m
  #     memory: 1000Mi
  #   requests:
  #     cpu: 100m
  #     memory: 100Mi
  podAnnotations: {}
  serviceAccountName: ""
  automountServiceAccountToken: false
  replicas: 1
  revisionHistoryLimit: 10
  nodeSelector: {}
  affinity: {}
  tolerations: []
  priorityClassName:

tengine:
  image:
    registry: ''
    repository: safeline-tengine
    tag: ""
  service:
    type: LoadBalancer
    # LoadBalancer 模式下可指定 IP（配合 MetalLB 使用）
    loadBalancerIP: ""
    # NodePort 模式下可指定端口
    httpNodePort: ""
    healthNodePort: ""
  resources:
  #   limits:
  #     cpu: 1000m
  #     memory: 1000Mi
  #   requests:
  #     cpu: 100m
  #     memory: 100Mi
  podAnnotations: {}
  serviceAccountName: ""
  automountServiceAccountToken: false
  replicas: 1
  revisionHistoryLimit: 10
  nodeSelector: {}
  affinity: {}
  tolerations: []
  priorityClassName:

luigi:
  image:
    registry: ''
    repository: safeline-luigi
    tag: ""
  service:
    type: ClusterIP
  resources:
  #   limits:
  #     cpu: 1000m
  #     memory: 1000Mi
  #   requests:
  #     cpu: 100m
  #     memory: 100Mi
  podAnnotations: {}
  serviceAccountName: ""
  automountServiceAccountToken: false
  replicas: 1
  revisionHistoryLimit: 10
  nodeSelector: {}
  affinity: {}
  tolerations: []
  priorityClassName:

chaos:
  image:
    registry: ''
    repository: safeline-chaos
    tag: ""
  service:
    type: ClusterIP
  # IMPORTANT: 生产环境请替换为自行生成的 EC P-256 密钥对！
  # 生成命令: openssl ecparam -genkey -name prime256v1 -noout -out ec_private.pem
  #           openssl ec -in ec_private.pem -pubout -out ec_public.pem
  jwt:
    algorithm: "ES256"
    expireSeconds: 30
  resources:
  #   limits:
  #     cpu: 1000m
  #     memory: 1000Mi
  #   requests:
  #     cpu: 100m
  #     memory: 100Mi
  podAnnotations: {}
  serviceAccountName: ""
  automountServiceAccountToken: false
  replicas: 1
  revisionHistoryLimit: 10
  nodeSelector: {}
  affinity: {}
  tolerations: []
  priorityClassName:
